# Auto detect text files and perform LF normalization
This application can calculate workload for teachers in Serbia. You can add/change/remove employees from the list, and if needed, export all data in excel sheet
